@model PaginatedList<HRMS.Models.Item>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .inner-form {
            padding: 0px 48px 48px 326px;
        }

        .nest-btn {
            margin: 20px 0px;
            display: flex;
            justify-content: inherit;
            align-items: center;
            gap: 10px;
        }

        .next_btn {
            width: 100px;
        }


        .employeetable-wapper {
            max-width: 350px;
            display: flex;
            gap: 10px;
            padding: 20px 0px;
        }
    </style>

</head>
<body>
    <div class="inner-form">
        <h1 class="h1">Order List</h1>
        @* <form asp-action="Index">
        <div class="employeetable-wapper">
        <input class="form-control" name="searchString" value="" />
        <input type="submit" value="Search" />
        </div>
        </form>*@

        <table class="table">
            <thead align="center">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Amount
                    </th>

                    <th style="text-align:center">
                        <a asp-action="">Action</a>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ItemName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            <a asp-action="DeleteOrder" asp-route-id="@item.ItemId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisable = !Model.HasPrevpage ? "disabled" : "";
            var nextDisable = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn @prevDisable">
            Previous
        </a>

        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn next_btn @nextDisable">
            Next
        </a>
    </div>
</body>
</html>
