@model HRMS.Models.ReportFilter

@{
    ViewData["Title"] = "Food Report Of Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblFoodOrder thead th {
        padding: 10px 18px;
        border-bottom: 1px solid #ddd;
        background: #eee;
    }

    #tblFoodOrder {
        border: 1px solid #ddd;
    }
</style>

<div class="col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <select class="form-control" id="reportType" onchange="ShowReport()">
                <option id="1">Food Report Of Employees</option>
                <option id="2">Today's Order Report</option>
                <option id="3">Monthly Day Wise Order Details</option>
                <option id="4">Employee Wise Monthly Order Detail</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h4 class="mb-3">@ViewData["Title"]</h4>
</div>
<div id="employeeWiseReport">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ReportDate" class="control-label"></label>
                <input type="date" name="date" id="theDate" asp-for="ReportDate" class="form-control" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3" style="margin-top:22px">
            <div class="form-group" style="margin-bottom:0px">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-success" value="Show Data" onclick="CreateFoodReport()" />
            </div>
        </div>
        <div class="col-md-6" style="margin-top:22px;text-align:right">
            <div class="form-group" style="margin-bottom:0px">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-success" value="Print" onclick="PrintFoodReport()" />
            </div>
        </div>
    </div>

    <table id="tblFoodOrder" class="table">
        <thead>
            <tr>
                <th>Particular</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="DayWiseReport">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Month"></label>
                @Html.DropDownListFor(x => x.Month, ViewBag.MonthListItem as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Year"></label>
                @Html.DropDownListFor(x => x.Year, ViewBag.YearListItem as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="align-items-end col-md-3 d-flex">
            <div class="form-group">
                <input type="submit" value="Show" class="btn btn-success" onclick="CreateDayWiseFoodReport()" />
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end align-items-end">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-success" value="Print" onclick="PrintdayWiseFoodReport()" />
            </div>
        </div>
    </div>

    <table id="tblFoodOrder" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Employee</th>
                <th>Order</th>
                <th>Accepted</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="TodayReport">
    <div class="row">

        @*<div class="col-md-3" style="margin-top:22px" hidden>
        <div class="form-group" style="margin-bottom:0px">
        <label class="control-label"></label>
        <input type="submit" class="btn btn-success" value="Filter" onclick="CreateFoodReport()" />
        </div>
        </div>*@
        <div class="col-md-12" style="margin-top:22px;text-align:right">
            <div class="form-group" style="margin-bottom:0px">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-success" value="Print" onclick="PrintTodayFoodReport()" />
            </div>
        </div>
    </div>

    <table id="tblFoodOrder" class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="MonthWiseReport">
    <div class="row">
        @*<form asp-action="MonthWiseData">*@
        <div asp-validation-summary="ModelOnly"></div>

        <div class="col-md-3" hidden>
            <div class="form-group">
                <label asp-for="Day"></label>
                @Html.DropDownListFor(x => x.Day, ViewBag.DayListItem as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Month"></label>
                @Html.DropDownListFor(x => x.Month, ViewBag.MonthListItem as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Year"></label>
                @Html.DropDownListFor(x => x.Year, ViewBag.YearListItem as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="align-items-end col-md-3 d-flex">
            <div class="form-group">
                <input type="submit" value="Show" class="btn btn-success" onclick="CreateMonthlyFoodReport()" />
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end align-items-end">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="submit" class="btn btn-dark" value="Print" onclick="PrintMonthlyFoodReport()" />
            </div>
        </div>
        @*</form>*@
    </div>
    <table id="tblFoodOrder" class="table">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Order</th>
                <th>Accepted</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}
@section scripts{
    <script>

        $(document).ready(function () {
            ShowReport();
        });

        function ShowReport() {
            $("#employeeWiseReport").hide();
            $("#DayWiseReport").hide();
            $("#TodayReport").hide();
            $("#MonthWiseReport").hide();
            var report = $("#reportType").val();
            if (report == 1)
                $("#employeeWiseReport").show();
            if (report == 2) {
                $("#TodayReport").show();
                CreateTodayFoodReport();
            }
            if (report == 3)
                $("#DayWiseReport").show();
            if (report == 4)
                $("#MonthWiseReport").show();
        }

        function PrintFoodReport() {
            var edate = $("#theDate").val();
            window.open('/ItemOrder/Print?date=' + edate, "_blank");
        }

        function CreateFoodReport() {
            var totalQuantity = 0;
            var GrandTotalAmount = 0;
            var totalAmount = 0;

            var edate = $("#theDate").val();
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: '/ItemOrder/CreateFoodReport',
                data: { "date": edate },
                success: function (result) {

                    var response = JSON.parse(result);
                    if (response.length > 0) {
                        $("#tblFoodOrder tbody").empty();
                        var table = $("#tblFoodOrder tbody");
                        var name = "";

                        $.each(response, function (index, element) {
                            debugger
                            var row = "";
                            var prevempname = "";

                            if (index == 0) {
                                table.append("<tr><td colspan='4' style='font-weight:600'>" + element.employeeName + "</td></tr>");
                            }
                            else if (name != element.employeeName) {
                                table.append("<tr><td colspan='4' style='font-weight:600'>" + element.employeeName + "</td></tr>");
                            }
                            name = element.employeeName;
                            var item = element.ItemName;
                            var qty = element.Quantiy.toFixed(2);
                            var amount = element.Amount.toFixed(2);
                            table.append("<tr><td id='empName' hidden>" + name + "</td><td>" + item + "</td><td>" + qty + " </td><td> " + amount + " </td><td> " + amount + " </td></tr>");

                            totalAmount = element.Quantiy * element.Amount;
                            totalQuantity += element.Quantiy;
                        });
                        GrandTotalAmount += totalAmount;
                        table.append("<tr style='font-weight:800;font-size:20px'><td>Total</td><td>" + totalQuantity.toFixed(2) + "</td><td></td><td> " + GrandTotalAmount.toFixed(2) + " </td></tr>");
                        //$("#tblFoodOrder tr:first-child").remove();
                        //$('#tblFoodOrder').DataTable().ajax.reload();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function PrintMonthlyFoodReport() {

            var Month = $("#Month").val();
            var Year = $("#Year").val()

            window.open('/ItemOrder/MonthWiseData?month=' + Month + "&year=" + Year, "_blank");
        }

        function CreateMonthlyFoodReport() {
            debugger
            var totalQuantity = 0;
            var GrandTotalAmount = 0;
            var totalAmount = 0;
            var ExpectedAmount = 20;
            var TotalExpectedAmount = 0;
            var TotalOrderRate = 0;

            var model = {
                Month: $("#Month").val(),
                Year: $("#Year").val(),
                Day: 30
            }

            $.ajax({
                type: "POST",
                url: '/ItemOrder/CreateMonthWiseReport',
                data: model,
                datatype: "json",
                success: function (result) {
                    debugger
                    var response = JSON.parse(result);
                    if (response.length > 0) {
                        $("#tblFoodOrder tbody").empty();
                        var table = $("#tblFoodOrder tbody");
                        var name = "";
                        var amount = 0;
                        $.each(response, function (index, element) {
                            table.append("<tr><td>" + element.Name + "</td><td>" + element.Amount.toFixed(2) + "</td><td>" + element.Accepted.toFixed(2) + " </td><td> " + element.TotalAmount.toFixed(2) + " </td></tr>");
                        });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function PrintdayWiseFoodReport() {

            var model = {
                Month: $("#Month").val(),
                Year: $("#Year").val()
            }
            window.open('/ItemOrder/PrintEmployeeData?report=' + model, "_blank");
        }

        function CreateDayWiseFoodReport() {
            var totalQuantity = 0;
            var GrandTotalAmount = 0;
            var totalAmount = 0;
            var ExpectedAmount = 20;
            var TotalExpectedAmount = 0;
            var TotalOrderRate = 0;

            var model = {
                Month: $("#Month").val(),
                Year: $("#Year").val()
            }

            $.ajax({
                type: "POST",
                url: '/ItemOrder/CreateMonthDateWiseReport',
                data: model,
                datatype: "json",
                success: function (result) {
                    debugger
                    var response = JSON.parse(result);
                    if (response.length > 0) {
                        $("#tblFoodOrder tbody").empty();
                        var table = $("#tblFoodOrder tbody");
                        var name = "";
                        var amount = 0;
                        $.each(response, function (index, element) {
                            debugger
                            var date = element.TodayDate;
                            date = date.replace("T00:00:00", "");
                            var ename = element.firstName;
                            amount = element.Amount;
                            ExpectedAmount = 20;
                            if (amount < 20)
                                ExpectedAmount = amount;

                            totalAmount = amount - ExpectedAmount;
                            if (totalAmount < 0) {
                                totalAmount = 0;
                            }
                            table.append("<tr><td>" + date + "</td><td>" + ename + "</td><td>" + amount.toFixed(2) + "</td><td>" + ExpectedAmount.toFixed(2) + " </td><td> " + totalAmount.toFixed(2) + " </td></tr>");

                            TotalExpectedAmount += ExpectedAmount;
                            GrandTotalAmount += totalAmount;
                            TotalOrderRate += parseFloat(amount);
                        });
                        table.append("<tr style='font-weight:800;font-size:20px'><td>Total</td><td></td><td>" + TotalOrderRate.toFixed(2) + "</td><td>" + TotalExpectedAmount.toFixed(2) + "</td><td> " + GrandTotalAmount.toFixed(2) + " </td></tr>");

                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function PrintTodayFoodReport() {
            var edate = $("#theDate").val();
            window.open('/ItemOrder/Print1', "_blank");
        }

        function CreateTodayFoodReport() {
            var totalQuantity = 0;
            var GrandTotalAmount = 0;
            var totalAmount = 0;
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: '/ItemOrder/CreateTodayFoodReport',
                success: function (result) {
                    debugger
                    var response = JSON.parse(result);
                    if (response.length > 0) {
                        $("#tblFoodOrder tbody").empty();
                        var table = $("#tblFoodOrder tbody");

                        $.each(response, function (index, element) {
                            debugger
                            var name = element.ItemCatName;
                            var item = element.ItemName;
                            var qty = element.Column1;
                            var amount = element.Amount.toFixed(2);
                            totalAmount = qty * amount;
                            table.append("<tr><td>" + name + "</td><td>" + item + "</td><td>" + qty + " </td><td> " + amount + " </td><td> " + totalAmount.toFixed(2) + " </td></tr>");

                            totalQuantity += element.Column1;
                            GrandTotalAmount += totalAmount;
                        });

                        table.append("<tr style='font-weight:800;font-size:20px'><td>Total</td><td></td><td>" + totalQuantity + "</td><td></td><td> " + GrandTotalAmount.toFixed(2) + " </td></tr>");

                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
