@model HRMS.Models.ReportFilter

@{
    ViewData["Title"] = "Month wise order details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tblFoodOrder thead th {
        padding: 10px 18px;
        border-bottom: 1px solid #ddd;
        background: #eee;
    }

    #tblFoodOrder {
        border: 1px solid #ddd;
    }
</style>

<h4 class="mb-3">@ViewData["Title"]</h4>

<div class="row">
    @*<form asp-action="MonthWiseData">*@
    <div asp-validation-summary="ModelOnly"></div>

    <div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="Day"></label>
            @Html.DropDownListFor(x => x.Day, ViewBag.DayListItem as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Month"></label>
            @Html.DropDownListFor(x => x.Month, ViewBag.MonthListItem as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Year"></label>
            @Html.DropDownListFor(x => x.Year, ViewBag.YearListItem as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="align-items-end col-md-3 d-flex">
        <div class="form-group">
            <input type="submit" value="Show" class="btn btn-success" onclick="CreateMonthlyFoodReport()" />
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-end align-items-end">
        <div class="form-group">
            <label class="control-label"></label>
            <input type="submit" class="btn btn-dark" value="Print" onclick="PrintMonthlyFoodReport()" />
        </div>
    </div>
    @*</form>*@
</div>
<table id="tblFoodOrder" class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Order</th>
            <th>Accepted</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
@section scripts{
    <script>

        function PrintMonthlyFoodReport() {

            var Month = $("#Month").val();
            var Year = $("#Year").val()

            window.open('/ItemOrder/MonthWiseData?month=' + Month + "&year=" + Year, "_blank");
        }

        function CreateMonthlyFoodReport() {
            debugger
            var totalQuantity = 0;
            var GrandTotalAmount = 0;
            var totalAmount = 0;
            var ExpectedAmount = 20;
            var TotalExpectedAmount = 0;
            var TotalOrderRate = 0;

            var model = {
                Month: $("#Month").val(),
                Year: $("#Year").val(),
                Day: 30
            }

            $.ajax({
                type: "POST",
                url: '/ItemOrder/CreateMonthWiseReport',
                data: model,
                datatype: "json",
                success: function (result) {
                    debugger
                    var response = JSON.parse(result);
                    if (response.length > 0) {
                        $("#tblFoodOrder tbody").empty();
                        var table = $("#tblFoodOrder tbody");
                        var name = "";
                        var amount = 0;
                        $.each(response, function (index, element) {
                            table.append("<tr><td>" + element.Name + "</td><td>" + element.Amount.toFixed(2) + "</td><td>" + element.Accepted.toFixed(2) + " </td><td> " + element.TotalAmount.toFixed(2) + " </td></tr>");
                        });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

